<h1>Comprovante de Registro de Ponto</h1>
<h3>Entrada</h3>
<p>Autarquia Municipal de Trânsito de Caucaia</p>
<p>CNPJ 05.577.643/0001-16</p>
<p>Caucaia, <%= l(@clock.created_at, format: :long) %></p>
<p>Servidor: <%= @user.name %></p>





