<h1>Editing check_item</h1>

<%= render 'form' %>

<%= link_to 'Show', [@check_list_item.check_list, @check_list_item] %> |
<%= link_to 'Back', check_list_check_items_path(@check_list_item.check_list) %>
