<h1>Check-lists</h1>

<div class="card-header d-flex justify-content-between">
  <span>
    Check-Lists
  </span>
  <%= link_to 'Novo check-list', new_check_list_path, class:'btn btn-primary btn-sm' %>
</div>

<ul class='list-group'>
  <% @check_lilsts.each do |check_list| %>
    <li class='list-group-item'>
      <%= link_to check_list.title, check_list %>
    </li>
    <% end %>
</ul>
