<div class="card">
  <div class="card-body">
    <% if current_user.clocks.last.active? %>
      <%=  link_to 'Finalizar Ponto', finish_clock_path, method: :put, class: 'btn btn-warning'  %>
    <% else %>
      <p>Ponto finalizado há <%= @clock.end_at.nil? ? 'ninguém sabe': time_ago_in_words(@clock.end_at)  %></p>
    <% end %>
  </div>
</div>