<h2 class='text-center'>Serviço de <%= l(@service.created_at, format: :day) %></h2>
<div class="card">
  <div class="card-body">
    <% @clocks.each do |clock| %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Colaborador</th>
            <th scope="col">Chegada</th>
            <th scope="col">Saída</th>
            
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= clock.user.name %></td>
            <td><%= l clock.start_at, format: :short %></td>
            <td><%= clock.end_at.nil? ? '' : l(clock.end_at, format: :short)  %></td>
            
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
  