<div class="card">
  <div class="card-body">
    <%=  link_to 'Iniciar Ponto', start_clock_path, method: :put, class: 'btn btn-success'  %>
    <%= current_user.registration  %> - <%= current_user.name  %> 
  </div>  
</div>  
