<% @car.items.each do |item| %>
       <li class="list-group-item bg-light">
          <div class="d-flex justify-content-between">
            <span class='text-muted'>
               <%= item.description %>
            </span>
            <% if item.ready %>
              <%= link_to '#', class: 'btn btn-info' do %>
                  <i class='fas fa-check'></i>
              <% end %>
            <% else %>
               <%= link_to '#', class: 'btn btn-dark' do %>
                  <i class='fas fa-times'></i>
              <% end %>
            <% end %>
          </div>
        </li>
    <% end %>